
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;

}

.container{
    width: 100vw;
    height: 100vh;

    display: flex;

}

.fixed {
    font-size: 0.7rem;
    position: absolute;
    width: 7rem;
    height: 0.5rem;
    background-color: #ccc;
    padding: 0.5rem;

}

.boxes{
    width: 33.33%;
    height: 150px;
    background-color: #c7c3c3;
    margin-right: 10px;
    border: 3px solid black;
    display: flex;
    flex-direction: row-reverse;

}



.sameStyle{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;

}

#chk{
    background: #e1b76a;

}

#beef{
    color: white;
    background: #c36969;

}

#sushi{

    background: #eaea92;

}




/* For screens with a min width of 768px */
@media screen and (min-width: 767px) {
    /* Styles go here */
}

/* For screens with a min width of 992px */
@media screen and (min-width: 992px) {
    /* Styles go here */
    div.example {
        font-size: 50px;
        padding: 50px;
        border: 8px solid black;
        background: yellow;
    }
}

/* For screens with a min width of 1200px */
@media screen and (min-width: 1200px) {
    /* Styles go here */
    div.example {
        font-size: 50px;
        padding: 50px;
        border: 8px solid black;
        background: yellow;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px ) {
    div.example {
        font-size: 50px;
        padding: 50px;
        border: 8px solid black;
        background: yellow;
    }
}
